/* task_2/css/main.css */

#logo {
  width: 200px;
  height: 200px;
  background: url('../assets/holberton-logo.jpg') no-repeat center center;
  background-size: 200px 200px;
}

button {
  position: relative;
}

.counter {
  position: absolute;
  right: 0;
  font-weight: bold;
}

